<% layout('layout/wrapper') -%>

<div class="jumbotron">
    <h1>Error<br>
        <%= message %>
    </h1>
    <h2>File not found</h2>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
