.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  width: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px 0 50px;
  height: 100px;
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}

.navbar{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}