<% layout('layout/wrapper') -%>

    <div class="wrap">
        <div><h3>Create new post</h3></div>
        <form action="" method="post">
            <p>
                <label for="name">Title post:</label>
                <input type="text" name="title">
            </p> 
            <p>
                <label for="sername">Text post:</label>
                <textarea type="text" name="text" cols="28" rows="10"></textarea>
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>