<% layout('layout/wrapper') -%>

    <div><h3>Write up form</h3></div>
    <form action="" method="post">
        <p>
            <label for="name">Your name:</label>
            <input type="text" name="name">
        </p> 
        <p>
            <label for="sername">Your sername:</label>
            <input type="text" name="sername">
        </p>
        <p>
            <label for="age">Your age</label>
            <input type="text" name="age">
        </p>
        <button type="submit">Submit</button>
    </form>

