<% layout('layout/wrapper') -%>
<div class="wrapper users">
    <div><h3>All users:</h3></div>
    <div class="users_list">
        <% users.forEach((user)=>{ %>
            <div><span>name: </span><span><%= user.name %></span></div>
            <div><span>sername: </span><span><%= user.sername %></span></div>
            <div><span>date created: </span><span><%= user.createdAt %></span></div>
        <% }) %>
    </div>
</div>