<nav class="nav_sidebar">
    <ul class="nav_sidebar-list">
        <li><a class="link_nav" href="/">Home</a></li>
        <li><a class="link_nav" href="/users">Users</a></li>
        <li><a class="link_nav" href="/posts">Posts</a></li>
        <li><a class="link_nav" href="/contacts">Contacts</a></li>
    </ul>
</nav>