.nav_sidebar{
    display: flex;
    flex-direction: column;
    background: $bg_sidebar;
    color: #fff;
    .link_nav{
        padding: 5px 10px;
        border-radius: 2px;
        &:hover{
            background: rgba(255, 255, 255, 0.3);        
        }
    }
}