body{
    font-size: $font_size_main;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #969696;
    min-height: 100vh;
    height: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $bg_page;
}
.site{
    flex-grow: 1;
    &_inner{
        display: flex;
    }
}