.users{
    padding: 20px;
    &_list{
        display: flex;
        flex-direction: column;
        .user{
            padding: 5px;
            border: solid 1px $color_border;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}